.search_wrapper{
  position: absolute;
  left: 0;
  top: 47px;
  right: 0;
  z-index: 99;
  max-height: 500px;
  overflow-y: scroll;
  background-color: rgba(10,10,10,0.7);
  width: 300px;
  margin: auto;
}