.search_row{
  margin: 30px;
  position: relative;
  border-radius: 20px;
  border: solid thin black;
  background-color: saddlebrown;

  .name{
    font-family: 'Russo One', sans-serif;
  }

  .image{

  }
}